<%- include ('../templates/header', {navMode:'block'} )%>

  <body>
    <section class="contenedor fullpage">
      <h1 class="title">
        <%= title%>
      </h1>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur adipisci autem non minus
        maxime voluptate.</p>
      <div class="about-us-container">

        <img src=<%=`/assets/eventos/${evento.foto}` %> alt=<%= evento.tipo %> >
          <div class="text-container">
            <h3 class="text">
              <%= evento.tipo %>
            </h3>
            <p class="text">
              <%= evento.cliente %>
            </p>
            <p class="text"> <i class="fa fa-users" aria-hidden="true"></i>
              <%= evento.num_personas %>
            </p>
            <p class="text"><i class="fa fa-calendar" aria-hidden="true"></i>
              <%= evento.fecha %>
            </p>
            <p class="text fa">
              <%= evento.calificacion %>
            </p>
            <p class="text">
              <%= evento.mensaje %>
            </p>
          </div>

      </div>

      <div class="about-us-container">
        <div class="text-container-right">
          <h2 class="title">Lugar</h2>
          <p class="text">La celebración se realizó en <%= evento.lugar %> ubicado en <%= evento.direccion %>
          </p>
        </div>
        <img src=<%=`${evento.foto_url}` %> alt=<%= evento.lugar %> >
      </div>
      <section>
        <h2 class="title">Servicios contratados</h2>
        <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, repudiandae dolorum fugiat
          quidem quae quia quo adipisci sequi animi esse!</p>
        <%- include ('../components/services_grid',{verMas:false})%>
      </section>
    </section>

    <footer class="footer">
      <%- include ('../templates/footer')%>
    </footer>

  </body>

  </html>